*.log
.DS_Store
.env
.env.backup
.env.production
.env.*.local
.phpactor.json
.phpunit.result.cache
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/tmp
/public/uploads/tmp
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/app/public/denuncias/*
!/storage/app/public/denuncias/.gitignore
/storage/app/tmp/*
!/storage/app/tmp/.gitignore
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
*.sql
*.sqlite
*.sqlite3
*.dump
*.bak
*.backup
*.tmp
*.temp
*.orig
*.zip
*.7z
*.tar
*.tar.gz
